body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#wellcome{
    color: deeppink;
    font-weight: 900;
    text-align: center;
}
.first{
    
    display: flex;
}
img{
    width: 70%;
}
h3{
    color: gold;
}
ol{
    background-image: -moz-linear-gradient(gray red);
    box-shadow: 5px 10px 10px gray;
    width: 30%;
    border-radius:10px;
    border-left: red solid;
    border-right: red solid;
}
h1{
    font-size: 80px;
}
h2{
    text-align: center;
}
.hobby{
    width: 60%;
box-shadow: 10px 10px 10px gray;
padding: 5px;
border: hotpink solid;
border-radius: 10px;
padding-bottom: 5px;
}